@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./song";
@import "./player";
@import "./library";
@import "./nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: #333;
}

h4 {
  font-weight: 300;
}

.App {
  transition: all 0.5s ease;
}

.app-anim {
  margin-left: 30%;
}
